{
    "plugins": [
        ["./babel-plugins/vuex-compile.js",{
                /* 
                you can pass args to a plugin in this object by writing myKey: "myValue", 
                and access them in a visitor with state.opts.myKey
                */
            }
        ]
    ]
}